# ===== Configuração sensível =====
.env
config.install.json
config.json

# ===== Logs =====
logs/
*.log

# ===== Banco local =====
*.db

# ===== Binários Go =====
/bin
*.exe

# ===== Build =====
/build
/dist

# ===== Arquivos de sistema =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode
.idea

# ===== Temporários =====
*.tmp
*.bak
